{% extends 'teledm/base.html' %}
{% load staticfiles %}
{% block form %}
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
        <link rel="stylesheet" type="text/css" href="{% static 'teledm/css/form.css' %}" >
    </head>
    <body>
        </br>
        <div class="row">
            <form id="moyenne" action="" method="post" class="form-horizontal">{% csrf_token %}      
                <div class="row" id="Sat">
                    <div class="row">
                        <label>Sélection de la donnée</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" name="type" id="typeSel" >
                                <option selected hidden>Type de données</option>
                            </select>
                            <select class="form-control" name="capteur" id="capteurSel" >
                                <option selected hidden>Capteur/Source</option>
                            </select>
                            <select class="form-control" name="produit" id="produitSel" >
                                <option selected hidden>Produit</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" name="variable" id="variableSel" >
                                <option selected hidden>Variable</option>
                            </select>
                            <select class="form-control" name="resospatiale" id="resospatialeSel" >
                                <option selected hidden>Résolution spatiale</option>
                            </select>
                            <select class="form-control" name="pasdetemps" id="pasdetempsSel" >
                                <option selected hidden>Résolution temporelle</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="Periode">
                    <div class="row">
                        <label>Période de traitement : </label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label for="date1" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span> </label>
                                <input id="date1" name="datedebut" type="text" class="date-picker form-control"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label for="date2" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span> </label>
                                <input id="date2" name="datefin" type="text" class="date-picker form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="Zone">
                    <div class="row">
                            <label>Zone et découpage géographique</label>
                        </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" name="pays" id="paysSel">
                                <option selected hidden>Pays</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" name="decoupage" id="decoupageSel" >
                                <option selected hidden><b>Echelle de découpage</b></option>
                            </select>
                        </div>
                    </div>
                </div>
                </br>
                <div>
                    <input type="submit" value="SUBMIT" name="submit">
                </div>
            </form>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script>
        <script src="{% static 'teledm/jsPerso/mapDistForm.js' %}"></script>
    </body>
</html>
{% endblock form %}
{% block content %}
<html lan=fr>
    <head>
        <meta charset="utf-8" />
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/maps/modules/map.js"></script> 
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="http://highcharts.github.io/export-csv/export-csv.js"></script>
    </head>
    <body>
        <div id="mapcontainer"></div>
        <select id="dates" name="dates">
            <option selected hidden>---  DATES  ---</option>
        </select>
        <select id="calcul" name="calcul">
            <option selected hidden>---  calcul  ---</option>
            <option value="vmean">valeurs moyennes</option>
            <option value="vmax">valeurs maximales</option>
            <option value="vmin">valeurs minimales</option>
            <option value="vstd">valeurs d'écart type</option>
        </select>
        <div id="plotcontainer"></div>
        <form id="download" action="" method="post" class="form-horizontal">{% csrf_token %}
            <div>
                <input type="submit" value="Download" name="submit">
            </div>
        </form>
        <script type="text/javascript" src="{% static 'teledm/jsPerso/distPlot.js' %}"></script> 
        <script type="text/javascript">            
            var jsdatas = {{ jsdatas|safe }};
            var map = "{% static 'teledm/shapes/' %}"+jsdatas.shape;
            chart(jsdatas, map);
        </script>
    </body>
</html>
{% endblock content %}
