{% extends "app1/base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'app1/css/login.css' %}" >
    </head>
    <body>
        {% block content %}
            <div class="row">

            </br>
            </br>
            </br>
            </br>
                <form action = "" method ="POST">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="Login">
                </form>
            </div>

            </br>
            </br>
            </br>
            </br>
            </br>
            </div>
        {% endblock content %}
    </body>
</html>




