{% load staticfiles %}
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'teledm/css/base.css' %}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        -->

        
        <title>TELEDM/TELEPAF</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-default navbar-custom navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <ul class="nav navbar-nav" id="left">
                                <li><a href={% url 'teledm:home' %}><b>Accueil</b></a></li>
                                <li><a href={% url 'teledm:mapViewer' %}><b>Cartographie</b></a></li>
                                <li><a href={% url 'teledm:mapDist' %}><b>Extraction Géographique</b></a></li>
                                <li><a href={% url 'teledm:calval' %}><b>Calibration/Validation</b></a></li>
                            </ul>
                            <ul class="nav navbar-nav" id="right">
                                <li><a href="accounts/profile/"><b>Enregistrement</b></a></li>
                                <li><a href="/accounts/logout/"><b>Deconnexion</b></a></li>
                                <li><a href={% url 'portailCRC:home' %}><b>CRC</b></a></li>
                                <!--<li><img name="langpair" src="{% static 'teledm/images/fr.jpeg' %}" id="fr"/></li>-->
                                <!--<li><img name="langpair" src="{% static 'teledm/images/eng.jpeg' %}" id="eng"/></li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
                <header class="row">
                    <div class="col-lg-2" id="themes">
                        </br>
                        </br>
                        <h4><b>Teledetection</b></h4>
                        <h4><b>Poussieres</b></h4>
                        <h4><b>Meningite</b></h4>
                        <h4><b>IRA</b></h4>
                    </div>
                    <div class="col-lg-8">
                        <img src="{% static 'teledm/images/image_en_tete.jpeg' %}"/>
                    </div>
                    <div class="col-lg-2" id="missions">
                        </br>
                        </br>
                        <h2><b>TeleDM</b></h2>
                        <h2><b>TelePaF</b></h2>
                    </div>
                </header>
                <div class="row">
                    <aside_left class="col-lg-4">
                        {% block form %}{% endblock form %}
                    </aside_left>
                    <main class="col-lg-8">
                        {% block content %}{% endblock content %}
                    </main>
                </div>
                <footer>
                    <div class="row" id="logos">
                        <img src="{% static 'teledm/images/ub.jpeg' %}"/>
                        <img src="{% static 'teledm/images/cnrs.jpeg' %}"/>
                        <img src="{% static 'teledm/images/ird.jpeg' %}"/>
                        <img src="{% static 'teledm/images/uLille1.jpeg' %}"/>
                        <img src="{% static 'teledm/images/cnrm.jpeg' %}"/>
                        <img src="{% static 'teledm/images/ehesp.jpeg' %}"/>
                        <img src="{% static 'teledm/images/ulg.jpeg' %}"/>
                        <img src="{% static 'teledm/images/institutPasteur.jpeg' %}"/>
                        <img src="{% static 'teledm/images/crc.jpeg' %}"/>
                    </div>
               </footer>
            </div>
        </div>
    </body>
</html>