{% extends 'teledm/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'teledm/css/form.css' %}" >
{% endblock %}

{% block form %}
</br>
<form id="scatter" action="" method="post" class="form-horizontal">{% csrf_token %}
    <div class="row" id="Sat">
        <div class="row">
            <label>Données Satellite/ré-analyse/modèle</label>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Source 1</label>
            </div>
            <div class="col-lg-3">
                <div class="checkbox">
                    <label><input type="checkbox" id="checkboxSr2" value="S2" onclick="" ><em>Source 2</em></label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="checkbox">
                    <label><input type="checkbox" id="Option" value="Option" onclick="" ><em>Option</em></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <select class="form-control" name="type1" id="typeS1" >
                    <option data-hidden="true">Type de données</option>
                </select>
                <select class="form-control" name="capteur1" id="capteurS1" >
                    <option data-hidden="true">Capteur/Source</option>
                </select>
                <select class="form-control" name="produit1" id="produitS1" >
                    <option data-hidden="true">Produit</option>
                </select>
                <select class="form-control" name="resospatiale1" id="resospatialeS1" >
                    <option data-hidden="true">Résolution spatiale</option>
                </select>
                <select class="form-control" name="pasdetemps1" id="pasdetempsS1" >
                    <option data-hidden="true">Pas de Temps</option>
                </select>
                <select class="form-control" name="variable1" id="variableS1" >
                    <option data-hidden="true">Variable</option>
                </select>
                <select class="form-control" name="level1" id="levelS1" >
                    <option data-hidden="true">Layer</option>
                </select>
            </div>
            <div class="col-lg-6">
                <select class="form-control" name="type2" id="typeS2" disabled="true" >
                    <option data-hidden="true">Type de données</option>
                </select>
                <select class="form-control" name="capteur2" id="capteurS2" disabled="true" >
                    <option data-hidden="true">Capteur/Source</option>
                </select>
                <select class="form-control" name="produit2" id="produitS2" disabled="true" >
                    <option data-hidden="true">Produit</option>
                </select>
                <select class="form-control" name="resospatiale2" id="resospatialeS2" disabled="true" >
                    <option data-hidden="true">Résolution spatiale</option>
                </select>
                <select class="form-control" name="pasdetemps2" id="pasdetempsS2" disabled="true">
                    <option data-hidden="true">Pas de Temps</option>
                </select>
                <select class="form-control" name="variable2" id="variableS2" disabled="true" >
                    <option data-hidden="true">Variable</option>
                </select>
                <select class="form-control" name="level2" id="levelSr2" disabled="true" >
                    <option data-hidden="true">Layer</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" id="Periode">
        <div class="row">
            <label>Période de traitement : </label>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="input-group">
                        <label for="date1" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span> </label>
                        <input id="date1" name="datedebut" type="text" class="date-picker form-control"/>
                    </div>
                </div>
                </br>
                <div class="row">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="input-group">
                        <label for="date2" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span> </label>
                        <input id="date2" name="datefin" type="text" class="date-picker form-control"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="Zone">
        <div class="row">
            <label>Zone d'étude (buffer / -180° 90° 180° -90°)</label>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <div class="row">
                    <select class="form-control" name="buffer" id="buffer" >
                        <option data-hidden="true">Buffer</option>
                        <option value="9">9</option>
                        <option value="12">25</option>
                        <option value="15">49</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-3">
                    <input type="text" class="input-small" name="uly" id="uly" placeholder="North"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <input type="text" class="input-small" name="ulx" id="ulx" placeholder="West"/>
                </div>
                <div class="col-sm-2 col-sm-offset-2">
                    <input type="text" class="input-small" name="lrx" id="lrx" placeholder="East"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-3">
                    <input type="text" class="input-small" name="lry" id="lry" placeholder="South"/>
                </div>
            </div>
        </div>
        <A HREF="{% url 'teledm:localisation' %}" onClick="return popup(this, 'notes')">localisation</A>
    </div>
    <div class="row" id="InSitu">
        <div class="row">
            <label>Données In Situ</label>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="checkbox">
                            <label><input type="checkbox" id="checkboxS3" value="S3" onclick=""><em>Aeronet</em></label>
                        </div>
                        <select class="form-control" name="stationsaeronet" id="stationsAeronet" disabled="true">
                            <option data-hidden="true">Station</option>
                        </select>
                        <select class="form-control" name="niveau" id="niveauAeronet" disabled="true">
                            <option data-hidden="true">niveau de traitement</option>
                        </select>
                    </div>
                    <div class="row">
                        <select class="form-control" name="variablesaeronet" id="variablesAeronet" disabled="true">
                            <option data-hidden="true">Variable</option>
                        </select>
                    </div>
                    <br/>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="checkbox">
                            <label><input type="checkbox" id="checkboxS4" value="S4" onclick=""><em>Teom</em></label>
                        </div>
                        <select class="form-control" name="stationsteom" id="stationsTeom" disabled="true">
                            <option data-hidden="true">Station</option>
                        </select>
                        <select class="form-control" name="variablesteom" id="variablesTeom" disabled="true">
                            <option data-hidden="true">Variable</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5>Periode d'intégration</h5>
                    <h6>(Aeronet/Teom)</h6>
                </div>
                <div class="col-lg-6">
                    <select class="form-control" name="integration" id="integration" disabled="true" >
                        <option data-hidden="true"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                    <div class="row">
                        <label><input type="checkbox" id="checkboxS5" value="S5" onclick=""><em>Epidemiologie</em></label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" name="epidemio" id="epidemioEP" >
                                <option selected hidden>Type</option>
                            </select>
                            <select class="form-control" name="pays" id="paysEP" >
                                <option selected hidden>Pays</option>
                            </select>
                            <select class="form-control" name="echelle" id="echelleEP" >
                                <option selected hidden>Echelle</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" name="district" id="districtEP" >
                                <option selected hidden>District</option>
                            </select>
                            <select class="form-control" name="variables" id="variableEP" >
                                <option selected hidden>Variable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <input type="submit" value="SUBMIT">
    </div>
</form>            
{% endblock form %}

{% block content1 %}
        <div class="row" id="plot1"></div>
        <div class="row" id="plot2"></div>
        <div class="row" id="container"></div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    
    <!--<script type="text/javascript" src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"> </script>-->
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>-->
    <!--<script type="text/javascript" src="{% static 'highcharts/js/highcharts.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'highcharts-regression/highcharts-regression.js' %}"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="http://highcharts.github.io/export-csv/export-csv.js"></script>
    <script type="text/javascript" src="{% static 'teledm/js/calvalForm.js' %}"></script>
    <script type="text/javascript" src="{% static 'teledm/js/localisation.js' %}"></script>
{% endblock %}