{% load staticfiles %}

<img src="{% static 'teledm/images/base1.png' %}"/>
<br><img src="{% static 'teledm/images/base2.png' %}"/>
<br><img src="{% static 'teledm/images/base3.png' %}"/>
<br><img src="{% static 'teledm/images/base4.png' %}"/>
<br><img src="{% static 'teledm/images/base5.png' %}"/>
<br><img src="{% static 'teledm/images/base6.png' %}"/>
<br><img src="{% static 'teledm/images/base7.png' %}"/>
<br><img src="{% static 'teledm/images/base8.png' %}"/>
<br><img src="{% static 'teledm/images/base9.png' %}"/>
<br><img src="{% static 'teledm/images/base10.png' %}"/>
<br><img src="{% static 'teledm/images/base11.png' %}"/>

