{% extends 'teledm/base.html' %}
{% load staticfiles %}
{% block form %}
<html lan=fr>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
        <link rel="stylesheet" type="text/css" href="{% static 'teledm/css/form.css' %}" />
    </head>
    <body>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <div id="t">
            Welcome to TeleDM
        </div>
        <div class="row">
            <div class="col-lg-6">
                <select class="form-control" name="type1" id="typeS1" >
                    <option data-hidden="true">Type de données</option>
                </select>
                <select class="form-control" name="capteur1" id="capteurS1" >
                    <option data-hidden="true">Capteur/Source</option>
                </select>
                <select class="form-control" name="produit1" id="produitS1" >
                    <option data-hidden="true">Produit</option>
                </select>
                <select class="form-control" name="variable1" id="variableS1" >
                    <option data-hidden="true">Variable</option>
                </select>
                <select class="form-control" name="resospatiale1" id="resospatialeS1" >
                    <option data-hidden="true">Résolution spatiale</option>
                </select>
                <select class="form-control" name="level1" id="levelS1" >
                    <option data-hidden="true">Layer</option>
                </select>
            </div>
        </div>
        <div class="row">
            <input type="button" value="Menu" onclick="readCat()">    
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{% static 'bootstrap/select2/dist/js/select2.js' %}"></script>
        <script type="text/javascript" src="{% static 'teledm/jsPerso/test.js' %}"></script>
    </body>
</html>
{% endblock form %}
    
    