{% extends "teledm/base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="http://openlayers.org/en/v3.18.2/css/ol.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'teledm/css/form.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'teledm/css/mapViewer.css' %}"/>
{% endblock %}

{% block form %}
        <div class="row">
            <form id="mapForm" action="" method="post" class="form-horizontal">{% csrf_token %}      
                <div class="row" id="Sat">
                    <div class="row">
                        <label>Sélection de la donnée</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" name="type" id="typeS1" >
                                <option selected hidden>Type de données</option>
                            </select>
                            <select class="form-control" name="capteur" id="capteurS1" >
                                <option selected hidden>Capteur/Source</option>
                            </select>
                            <select class="form-control" name="produit" id="produitS1" >
                                <option selected hidden>Produit</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" name="resospatiale" id="resospatialeS1" >
                                <option selected hidden>Résolution spatiale</option>
                            </select>
                            <select class="form-control" name="pasdetemps" id="pasdetempsS1" >
                                <option selected hidden>Résolution temporelle</option>
                            </select>
                            <select class="form-control" name="variable" id="variableS1" >
                                <option selected hidden>Variable</option>
                            </select>
                            <select class="form-control" name="level1" id="levelS1" >
                                <option data-hidden="true">Layer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="Periode">
                    <div class="row">
                        <label>Période de traitement : </label>
                    </div>
                    <div class="row">
                        <div class="input-group">
                            <label for="date" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span> </label>
                            <input id="date" name="datedebut" type="text" class="date-picker form-control"/>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div id="dateAnimation"></div>
                        <div role="group" aria-label="Animation controls">
                            <button type="button" class="btn btn-default btn-sm" id="backward" onclick="prevDate()">
                            <span class="glyphicon glyphicon-backward"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" id="forward" onclick="nextDate()">
                            <span class="glyphicon glyphicon-forward"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" id="stop" onclick="stopAnim()">
                            <span class="glyphicon glyphicon-stop"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" id="play" onclick="animation()">
                            <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <span id="info"></span>
                        </div>
                    </div>
                </div>
                <div class="row" id="theme">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="form-group">
                                <label>Thème de la colorbar:</label>			 
                                <select class="form-control" id="Colorbar" onChange="setColorbar()">
                                    <option>rainbow</option>
                                    <option>occam</option>
                                    <option>redblue</option>
                                    <option>ncview</option>
                                    <option>sst_36</option>
                                    <option>greyscale</option>
                                    <option>alg2</option>
                                    <option>occam_pastel</option>
                                    <option>ferret</option>
                                    <option>alg</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label>Niveau de dégradé</label>			 
                                <select class="form-control" name="colorbandNum" onChange="setColorband()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="185">185</option>
                                        <option value="254">254</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label>Colorscale min/max : </label>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="number" step="any" id="ScaleMin" name="scaleMin" min="-100" max="400" value="-50" class="form-control">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="number" step="any" id="ScaleMax" name="scaleMax" min="0" max="400" value="50" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" id="scale">
                        <div class="col-lg-6" id="colors">
                            <div id="colorbar"></div>
                        </div>
                        <div class="col-lg-6" id="ranges">
                            <div id="smax"></div>
                            <div id="smidmax"></div>
                            <div id="smid"></div>
                            <div id="smidmin"></div>
                            <div id="smin"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="button" value="Mise à jour de la carte" onclick="updateMap()">
                </div>
            </form>
        </div>
        <div class="row">
            <form method="post" action="">
                <input type="button" id="export" value="Export" onclick="http://localhost:8080/thredds/ncss/satellite/modis/MYD07/res009/MYD07_r009_d.nc?var=Surface_Temperature&north=12&west=0&east=15&south=1&horizStride=1&time_start=2006-07-01T00%3A00%3A00Z&time_end=2007-06-30T00%3A00%3A00Z&timeStride=1&addLatLon=true&accept=netcdf"/>
            </form>
        </div>
{% endblock %}

{% block content1 %}
    </br>
    <div id="map" class="map" ></div>
    <div id="panel" type="button" id="testButton" class="btn btn-primary">TEST BUTTON</div>
{% endblock %}

{% block content2 %}
    <div class="row">
        <input type="button" id="profil" value="Profil Temporel"/>
    </div>
    <div class="row" id="containerProfil">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <label>Mesures in situ</label>
                </div>
                <div class="row">
                    <select class="form-control" name="mesure" id="mesureIS" >
                        <option selected hidden>Type</option>
                    </select>
                    <select class="form-control" name="stations" id="stationsIS" >
                        <option selected hidden>Station</option>
                    </select>
                    <select class="form-control" name="niveau" id="niveauIS" >
                        <option selected hidden>Niveau</option>
                    </select>
                    <select class="form-control" name="variables" id="variablesIS" >
                        <option selected hidden>Variable</option>
                    </select>
                    <select class="form-control" name="resoTempo" id="resoTempoIS" >
                        <option selected hidden>Resolution Temporelle</option>
                    </select>
                    <input type="button" id="addIS" value="Plot"/>
                </div>                
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <label>Donnees Epidemiologiques</label>
                </div>
                <div class="row">
                    <select class="form-control" name="epidemio" id="epidemioEP" >
                        <option selected hidden>Type</option>
                    </select>
                    <select class="form-control" name="pays" id="paysEP" >
                        <option selected hidden>Pays</option>
                    </select>
                    <select class="form-control" name="echelle" id="echelleEP" >
                        <option selected hidden>Echelle</option>
                    </select>
                    <select class="form-control" name="district" id="districtEP" >
                        <option selected hidden>District</option>
                    </select>
                    <select class="form-control" name="variable" id="variableEP" >
                        <option selected hidden>Variable</option>
                    </select>
                    <input type="button" id="addEP" value="Plot"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="plot"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var urlShp = "{% static 'teledm/shapes/' %}";
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <!--<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>-->
    <script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.2"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="http://highcharts.github.io/export-csv/export-csv.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <script type="text/javascript" src="http://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script type="text/javascript" src="{% static 'teledm/js/mapViewer.js' %}"></script>   
{% endblock %}