.form-group {
    background: transparent;
    border: none;
    display: block;
    /* 1 */
    margin: 0;
    padding: 0;
}

@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');

.ui-datepicker {
    background: #C0C0C0;
    border: 1px solid #707070;
    border-radius: 10px;
    color: #000000;
    height: 170;
    padding: 2px;
    width: 160px;
    font-size: 1.0em;
    font: 9pt Arial, sans-serif;
}

#date1, #date2, #date {
    height: 30px;
    width: 90px;
    font-size: 1.0em;
    padding: 0px;
}

.select2-container, .select2-results, .select2-choice .select2-search-field {
    color: #000000;
    /*background-color: #C0C0C0;*/
    font-size: 0.8em;
    padding: 2px;
}


.select2-container.select2-dropdown-open {
    min-width: 100px !important;
    margin-left: 0px;
}

input.input-small::-moz-placeholder {
    font-style: italic;
    font-size: 0.9em;
    color: darkgrey;
}

input.input-small{
    height: 25px;
    width: 90px;
}


#Sat,#Periode,#Zone,#InSitu,#Epidemio,#theme,#containerProfil,#containerExport {
    background:  #F8F8FF;
    border: #006699 solid 1px;
    border-radius:10px;
    padding: 15px;
    margin: 15px;
    -moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5); 
}

#map {
    width: 800px;
    height: 580px;
    border: #006699 solid 1px;
    border-radius:10px;
    padding: 15px;
    margin: 15px;
    -moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5); 
}

#colors {
    padding: 0px;
    margin: 0px;
}

#scale {
    border: none;
    display: block;
}

#smax {
    margin-bottom: 25px;
}

#smidmax {
    margin-bottom: 25px;
}

#smid {
    margin-bottom: 25px;
}

#smidmin {
    margin-bottom: 25px;
}



#btn:active, .active {
    background-color: #585858;
    color: white;
}

#scroll-container {
  height: 200px;
  overflow-y: scroll;
  user-select: none;
}

#shapeChoice { 
    border:2px solid #ccc;
    width:300px;
    height: 100px;
    overflow-y: scroll;
}