.panel .selectControlItemInactive {
    background:url(http://robert.szczepanek.pl/icon/0.1/identify.png) no-repeat;
    opacity: 0.2;
    width: 24px;
    height: 24px;
}

.panel .selectControlItemActive {
    background:url(http://robert.szczepanek.pl/icon/0.1/identify.png) no-repeat;
    width: 24px;
    height: 24px;
}

.panel .olControlNavigationItemInactive {
    background:url(http://robert.szczepanek.pl/icon/0.1/pan.png) no-repeat;
    opacity: 0.2;
    width: 24px;
    height: 24px;
}

.panel .olControlNavigationItemActive {
    background:url(http://robert.szczepanek.pl/icon/0.1/pan.png) no-repeat;
    width: 24px;
    height: 24px;
}

.panel .olControlZoomBoxItemInactive {
    background:url(http://robert.szczepanek.pl/icon/0.1/zoom-in.png) no-repeat;
    opacity: 0.2;
    width: 24px;
    height: 24px;
}

.panel .olControlZoomBoxItemActive {
    background:url(http://robert.szczepanek.pl/icon/0.1/zoom-in.png) no-repeat;
    width: 24px;
    height: 24px;
}

.panel {
    width: 24px;
    height: 75px;
    cursor: pointer;
    left: 15px;
    top: 10px;
}