.panel .selectControlItemInactive {
    background:url('../images/info.png') no-repeat;
    opacity: 0.2;
    width: 24px;
    height: 24px;
}

.panel .selectControlItemActive {
    background:url('../images/info.png') no-repeat;
    width: 24px;
    height: 24px;
}

.panel .olControlNavigationItemInactive {
    background:url('../images/pan.png') no-repeat;
    opacity: 0.2;
    width: 24px;
    height: 24px;
}

.panel .olControlNavigationItemActive {
    background:url('../images/pan.png') no-repeat;
    width: 24px;
    height: 24px;
}

.panel .olControlZoomBoxItemInactive {
    background:url('../images/zoomIn.png') no-repeat;
    opacity: 0.2;
    width: 24px;
    height: 24px;
}

.panel .olControlZoomBoxItemActive {
    background:url('../images/zoomIn.png') no-repeat;
    width: 24px;
    height: 24px;
}

.panel {
    width: 24px;
    height: 75px;
    cursor: pointer;
    left: 15px;
    top: 10px;
}