.olControlNavToolbar {
    top: 50px;
}

.Panel {
    background: #eaedf2;
    opacity: 0.5;
    width: 27px;
    height: 48px;
    cursor: pointer;
    left: 8px;
    top: 30px;
}

.drawItemInactive,.drawItemActive,.selectLItemInactive,.selectLItemActive{
    border: 2px solid #075f67;
    width: 210px;
    height: 210px;
    margin: 2px;
}

.drawItemInactive {    
    background: #30d5c8;
    
}

.drawItemActive {
    background: #FFFFE0;
}

.selectLItemInactive {
    background: #30d5c8;
}

.selectLItemActive {
    background: #FFFFE0;
}
