.leaflet-container {  /* all maps */
    width:  800px;
    height: 600px;
     margin: 10px 10px; 
    }

.row {
  margin-right: 0px;
  margin-left: 0px;
}

header,footer {
    background-color:#000066;
	}

h4,h2 {
    color: #DCDCDC;
}

h4 {
    font-style: italic;
}

main {
	background-color:#FFFFFF;
	}

footer {
    height: 65px;
}


li a {
    color: white;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


#themes {
    padding-left: 40px;
}

#missions {
    padding-right: 50px;
}

#logos {
    padding-top: 10px;
    padding-left: 300px;
}

.navbar-fixed-top {
    background-color:#002233;
}

#left {
    padding-right: 470px;
}

#fr,#eng {
    padding-top: 15px;
    padding-left: 15px;
}
