{% extends 'app1/base.html' %}
{% load staticfiles %}
{% block content %}
<html lan=fr>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'app1/css/form.css' %}" />
    </head>
    <body>
        <div class="row" id="plot1"></div>
        <div class="row" id="plot2"></div>
        <div class="row" id="plot3"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                var data = {{ jsdatas | safe }};
                $('#plot1').highcharts({
                    chart: {
                        type: 'scatter',
                        zoomType: 'xy'
                    },
                    title: {
                        text: data.prd1 + ' ' + data.station1 + '/' + data.sat + ' ' + data.zone
                    },
                    subtitle: {
                        text: 'Source: CRCT'
                    },
                    xAxis: {
                        title: {
                            enabled: true,
                            text: data.prd1 + ' (' + data.prd1Var + ')'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },
                    yAxis: {
                        title: {
                            text: data.sat + ' (' + data.satVar + ')'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 100,
                        y: 70,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                        borderWidth: 1
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{series.name}</b><br>',
                                pointFormat: '{point.x} data.prd1Var_units, {point.y} data.satVar_units'
                            }
                        }
                    },
                    series: [{
                        name: data.prd1 + ' vs ' + data.sat,
                        color: 'rgba(75, 75, 75, .5)',
                        data:data.scatterValues1
                        }]
                });


                $('#plot2').highcharts({
                    chart: {
                        type: 'scatter',
                        zoomType: 'xy'
                    },
                    title: {
                        text: data.prd2 + ' ' + data.station2 + '/' + data.sat + ' ' + data.zone
                    },
                    subtitle: {
                        text: 'Source: CRCT'
                    },
                    xAxis: {
                        title: {
                            enabled: true,
                            text: data.prd2 + ' (' + data.prd2Var + ')'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },
                    yAxis: {
                        title: {
                            text: data.sat + ' (' + data.satVar + ')'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 100,
                        y: 70,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                        borderWidth: 1
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{series.name}</b><br>',
                                pointFormat: '{point.x} {data.prd1Var_units}, {point.y} {data.satVar_units}'
                            }
                        }
                    },
                    series: [{
                        name: data.prd2 + ' vs ' + data.sat,
                        color: 'rgba(75, 75, 75, .5)',
                        data:data.scatterValues2
                        }]
                });


                $('#plot3').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: data.periode + ' Average'
                    },
                    subtitle: {
                        text: 'Source: CRCT'
                    },
                    xAxis: [{
                        categories: data.dates,
                        crosshair: true
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        title: {
                            text: data.sat,
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        opposite: true
                    }, { // Secondary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: data.prd1,
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }
            
                    }, { // Tertiary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: data.prd2,
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },
                        opposite: true
                    }, { // 4th yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Incidence',
                            style: {
                                color: Highcharts.getOptions().colors[3]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[3]
                            }
                        },
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 80,
                        verticalAlign: 'top',
                        y: 55,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    series: [{
                        name: data.sat + '( ' + data.satVar + ')',
                        type: 'spline',
                        yAxis: 2,
                        data: data['moy_'+data.sat],
                        tooltip: {
                            valueSuffix: ''
                        }
            
                    }, {
                        name: data.prd1 + '( ' + data.prd1Var + ')',
                        type: 'spline',
                        yAxis: 1,
                        data: data['moy_'+data.prd1],
                        marker: {
                            enabled: false
                        },
                        dashStyle: 'shortdot',
                        tooltip: {
                            valueSuffix: ''
                        }
            
                    }, {
                        name: data.prd2 + '( ' + data.prd2Var + ')',
                        type: 'spline',
                        yAxis: 2,
                        data: data['moy_'+data.prd2],
                        tooltip: {
                            valueSuffix: ''
                        }
                    }, {
                        name: 'Incidence',
                        type: 'spline',
                        yAxis: 1,
                        data: data.incidence,
                        tooltip: {
                            valueSuffix: ''
                        }
                    }]
                });
            });
        </script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
    </body>
</html>
{% endblock content %}
{% block form %}
    {% include 'app1/calval_form.html' %}
{% endblock form %}