{% extends 'app1/base.html' %}
{% load staticfiles %}
{% block content %}
<html lan=fr>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'app1/css/form.css' %}" />
    </head>
    <body>
        <div class="row" id="plot1"></div>
        <div class="row" id="plot2"></div>
        <div class="row" id="plot3"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                var data = {{ jsdatas | safe }};
                alert(data.moy_aeronet);
                $('#plot1').highcharts({
                    chart: {
                        type: 'scatter',
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Height Versus Weight of 507 Individuals by Gender'
                    },
                    subtitle: {
                        text: 'Source: Heinz  2003'
                    },
                    xAxis: {
                        title: {
                            enabled: true,
                            text: 'Height (cm)'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },
                    yAxis: {
                        title: {
                            text: 'Weight (kg)'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 100,
                        y: 70,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                        borderWidth: 1
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{series.name}</b><br>',
                                pointFormat: '{point.x} cm, {point.y} kg'
                            }
                        }
                    },
                    series: [{
                        name: 'Female',
                        color: 'rgba(223, 83, 83, .5)',
                        data:data.mask1_moy_aeronet
                        },{
                        name: 'Male',
                        color: 'rgba(119, 152, 191, .5)',
                        data:data.mask1_moy_MYD04
                        }]
                });

                $('#plot2').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Average Weekly'
                    },
                    subtitle: {
                        text: 'Source: CRCT'
                    },
                    xAxis: [{
                        categories: data.dates,
                        crosshair: true
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },
                        title: {
                            text: 'MYD04 AOT',
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },
                        opposite: true
            
                    }, { // Secondary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Aeronet',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        }
            
                    }, { // Tertiary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Teom',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        opposite: true
                    }, { // 4th yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Incidence',
                            style: {
                                color: Highcharts.getOptions().colors[3]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[3]
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 80,
                        verticalAlign: 'top',
                        y: 55,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    series: [{
                        name: 'MYD04',
                        type: 'spline',
                        yAxis: 1,
                        data: data.moy_MYD04,
                        tooltip: {
                            valueSuffix: ''
                        }
            
                    }, {
                        name: 'Aeronet',
                        type: 'spline',
                        yAxis: 2,
                        data: data.moy_Aeronet,
                        marker: {
                            enabled: false
                        },
                        dashStyle: 'shortdot',
                        tooltip: {
                            valueSuffix: ''
                        }
            
                    }, {
                        name: 'Teom',
                        type: 'spline',
                        data: data.moy_teom,
                        tooltip: {
                            valueSuffix: ''
                        }
                    }, {
                        name: 'Incidence',
                        type: 'spline',
                        data: data.incidence,
                        tooltip: {
                            valueSuffix: ''
                        }
                    }]
                });
                
                $('#plot3').highcharts({
                    title: {
                        text: 'Monthly Average Temperature',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Source: WorldClimate.com',
                        x: -20
                    },
                    xAxis: {
                        categories: data.dates
                    },
                    yAxis: {
                        title: {
                            text: 'Temperature (°C)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: '°C'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'MYD04',
                        data: data.moy_MYD04
                    }]
                });
            });
        </script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
    </body>
</html>
{% endblock content %}
{% block form %}
    {% include 'app1/calval_form.html' %}
{% endblock form %}