{% extends "app1/base.html" %}
{% load leaflet_tags %}
{% load staticfiles %}
<html>
  {% block content %}
  <head>
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>
    <script type="text/javascript">
        
        function main_map_init (map, options) {
            map.setView([20.0, 15.0], 1);
            function addDataToMap(data, map) {
                var dataLayer = L.geoJson(data, {
                    onEachFeature: function(feature, layer) {
                        var popupText = "Magnitude: " + feature.properties.mag
                        + "<br>Location: " + feature.properties.place
                        + "<br><a href='" + feature.properties.url + "'>More info</a>";
                    layer.bindPopup(popupText); }
                });
            dataLayer.addTo(map);
            }
            $.getJSON("http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson", function(data) { addDataToMap(data, map); });
        }

    </script>
    {% leaflet_map "map" callback="main_map_init" %}
  </body>
  {% endblock content %}
</html>