{% extends "app1/base.html" %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'app1/css/base.css' %}" />
    </head>

        <script type="text/javascript">

            var map;
            function mapInit(){

                var ncfile = "MYD07_r009_d.nc";
                var variable = "Surface_Temperature";
                var timedate = "2007-01-15T00:00:00";
                var dataurl = "http://localhost:8080/thredds/wms/satellite/modis/MYD07/res009/MYD07_r009_d.nc?service=ncWMS";
    
                var map = new OpenLayers.Map('map',
                {
                    projection: new OpenLayers.Projection("EPSG:4326"),
                    
                });
                
                var fond = new OpenLayers.Layer.WMS(
                    "OpenLayers WMS",
                    "http://vmap0.tiles.osgeo.org/wms/vmap0",
                    {
                        layers: 'basic',
                    },
                    {isBaseLayer: true}
                );
                map.addLayer(fond);
                map.zoomToExtent([-30, -10, 50, 40]);                
                var layer = new OpenLayers.Layer.WMS(
                    "http://localhost:8080/thredds/wms/satellite/modis/MYD07/res009/MYD07_r009_d.nc?service=ncWMS",
                    {
                        layers: "Surface_Temperature",
                        transparent: "true",
                        format: "image/png",
                        styles: "boxfill/rainbow",
                        colorscalerange: "265,340",
                        time: "2007-01-15T00:00:00",
                        numcolorbands : 10,
                        opacity : 100,
                        tiled:true
                    });
                map.addLayer(layer);
            };
    
        </script>
        <script src="{% static 'app1/jquery/L.TileLayer.BetterWMS.js' %}"></script>
        <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <body onload="mapInit()">
        <div class="row" id="map" style="width: 800px; height: 580px"></div>
    </body>
</html>
{% endblock content %}
{% block form %}
    {% include "app1/form.html" %}
{% endblock form %}