{% extends "app1/base.html" %}
{% load staticfiles %}
{% block content %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'app1/css/base.css' %}" />
    <link rel="stylesheet" href="http://openlayers.org/en/v3.18.2/css/ol.css" type="text/css">
    <script src="http://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="http://openlayers.org/en/v3.18.2/build/ol.js"></script>
  </head>
  <body>
    <div id="map" class="map" style="width: 800px; height: 580px"></div>
    <div role="group" aria-label="Animation controls">
      <button id="play" type="button">Play</button>
      <button id="pause" type="button">Pause</button>
      <span id="info"></span>
    </div>
    <script>
      var startDate = new Date(Date.parse('2007-01-01T19:00:00Z'));
      var frameRate = 0.5; // frames per second
      var animationId = null;

      var layers = [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        }),
        new ol.layer.Tile({
          extent: [-13884991, 2870341, -7455066, 6338219],
          source: new ol.source.TileWMS(/** @type {olx.source.TileWMSOptions} */ ({
            url: "http://localhost:8080/thredds/wms/satellite/modis/MYD07/res009/MYD07_r009_d.nc?",
            params: {'LAYERS': 'Surface_Temperature', 'TIME': startDate.toISOString()}
          }))
        })
      ];
      var map = new ol.Map({
        layers: layers,
        target: 'map',
        view: new ol.View({
          center: [-10997148, 4569099],
          zoom: 4
        })
      });

      var updateInfo = function() {
        var el = document.getElementById('info');
        el.innerHTML = startDate.toISOString();
      };

      var setTime = function() {
        startDate.setHours(startDate.getHours() + 1);
        layers[1].getSource().updateParams({'TIME': startDate.toISOString()});
        updateInfo();
      };

      var stop = function() {
        if (animationId !== null) {
          window.clearInterval(animationId);
          animationId = null;
        }
      };

      var play = function() {
        stop();
        animationId = window.setInterval(setTime, 1000 / frameRate);
      };

      var startButton = document.getElementById('play');
      startButton.addEventListener('click', play, false);

      var stopButton = document.getElementById('pause');
      stopButton.addEventListener('click', stop, false);

      updateInfo();
    </script>
    
  </body>
{% endblock content %}
{% block form %}
    {% include "app1/form.html" %}
{% endblock form %}