{% extends "app1/base.html" %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>WMS Time</title>
        <link rel="stylesheet" href="http://openlayers.org/en/v3.18.2/css/ol.css" type="text/css">
        <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
        <script src="http://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
        <script src="{% static 'app1/script_appli_Guillaume/dist/js/moment.js' %}"></script>
        <script src="http://openlayers.org/en/v3.18.2/build/ol.js"></script>
    </head>
    <body>
        <div id="map" class="map"></div>
    <script>
        var ROOT = "http://localhost:8080/thredds";
        var deb = {{ deb | safe }};
        var startDate = new Date(Date.parse(deb.date));
        var frameRate = 1; // frames per second
        var animationId = null;
        var layers = [
            new ol.layer.Tile({
            source: new ol.source.OSM()
        }),
        new ol.layer.Tile({
            source: new ol.source.TileWMS(/** @type {olx.source.TileWMSOptions} */ ({
            url: ROOT + "/wms/satellite/modis/MYD07/res009/MYD07_r009_d.nc?service=ncWMS",
            params: {'LAYERS': 'Surface_Temperature', 'TIME': startDate.toISOString(), 'styles': "greyscale",
                'colorscalerange': "260,340",}
            }))
        })
        ];
        var map = new ol.Map({
            layers: layers,
            target: 'map',
            view: new ol.View({
            center: [-5, 30],
            zoom: 4
        })
        });

        var updateInfo = function() {
            var el = document.getElementById('info');
            el.innerHTML = startDate.toISOString().slice(0,10);
        };

        var setTime = function() {
            startDate.setHours(startDate.getHours() + 24);
            layers[1].getSource().updateParams({'TIME': startDate.toISOString()});
            updateInfo();
        };

        var stop = function() {
            if (animationId !== null) {
            window.clearInterval(animationId);
            animationId = null;
            }
        };

        var play = function() {
            stop();
            animationId = window.setInterval(setTime, 1000 / frameRate);
        };

        var startButton = document.getElementById('play');
        startButton.addEventListener('click', play, false);

        var stopButton = document.getElementById('pause');
        stopButton.addEventListener('click', stop, false);

        var getInfo = function () {
            var type = document.getElementById("type").value;
            var capteur = document.getElementById("capteur").value;
            var produit = document.getElementById("produit").value;
            var date = document.getElementById("date1").value;
            start = new Date(Date.parse(date));
            $("#info").html() = start.toISOString().slice(0,10)
            alert(start);
        };

        var date = document.getElementById("date1");
        $("#date1").on("change", getInfo());
        
        var setColorband = function ()
        {
            var nomColorbar = $("#Colorbar").val();
            var nbColorband = $("select[name='colorbandNum']").val();
            var src_cband = "http://localhost:8080/thredds/wms/satellite/modis/MYD07/res009/MYD07_r009_d.nc?REQUEST=GetLegendGraphic&LAYER=Surface_Temperature&NUMCOLORBANDS="+nbColorband+"&PALETTE="+nomColorbar+"&COLORBARONLY=true"
            var img = "<img height='100px' width='50px' src='"+src_cband+"'/>";
            $("#colorbar").html(img);
        };

        var colorband = document.getElementById("Colorbar");
        $("#Colorbar").on("change", setColorband);

        updateInfo();
        </script>
    </body>
</html>
{% endblock content %}
{% block form %}
    {% include "app1/form_map.html" %}
{% endblock form %}
